{% extends 'index.html' %}
{% block content %}
    <div id="care_receive_reg_wrap">
        <div id="care_receive_reg_title">
            <p>요양정보 등록</p>
        </div>
        <div id="reg_container_wrap">
            <form action="/careRecvRegi" method="post" id="care_recv_regi_form">
                <div class="care_receive_reg_div1">
                    <div class="care_receive_reg_left_div">
                        
                        <div><span>이　　름 :</span></div>
                        <div><span>성　　별 :</span></div>
                        <div><span>생년월일 :</span></div>
                        <div><span>전화번호 :</span></div>
                        <div><span>주　　소 :</span></div>
                        <!-- <div><span>이메일 :</span></div> -->
                        <div><span>환자상태 :</span></div>
                    </div>
                    <div class="care_receive_reg_right_div">
                        <div>
                            <input type="text" name="user_name" value="{{dbData.userName}}" readonly>
                        </div>
                        
                        <div>
                            <input type="radio" name="care_receiver_gender" value="M" >남성</input>
                            <input type="radio" name="care_receiver_gender" value="F">여성</input>
                            
                        </div>
                        <div>
                            <input type="text" name="user_birth" value="{{userBirth}}" readonly>
                        </div>
                        <div>
                            <input type="text" name="user_phone" value="{{dbData.phone}}" readonly>
                        </div>
                        <div>
                            <input type="text" name="care_receiver_user_add" placeholder="  주소를 입력해주세요" id="care_receiver_user_add">
                        </div>
                        <div>
                            <input type="radio" name="care_level" value="3">상</input>
                            <input type="radio" name="care_level" value="2">중</input>
                            <input type="radio" name="care_level" value="1">하</input>
                        </div>
                    </div>
                </div>
                
                
                    <!-- <div class="care_receive_border1"></div> -->
            
                
                <div class="care_receive_reg_div2">
                    <div class="care_receive_reg_left_div">
                        
                        <div>주요질환 :</div>
                        
                        <div>요　　일 :</div>
                        <div>시　　간 :</div>
                        <div>비　　고 :</div>
                    </div>
                    <div class="care_receive_reg_right_div">
                        <div id="disease_type">
                            
                            <input type="checkbox" name="disease_type" value="dementia"><span>치매</span></input>
                            <input type="checkbox" name="disease_type" value="meal"><span>식사도움</span></input>
                            <input type="checkbox" name="disease_type" value="behavior"><span>이동도움</span></input>
                            <input type="checkbox" name="disease_type" value="dialusis"><span>투석</span></input>
                        </div>
                        
                        <div id="care_week_div">
                            <input type="checkbox" name="care_week" value="일">일</input>
                            <input type="checkbox" name="care_week" value="월">월</input>
                            <input type="checkbox" name="care_week" value="화">화</input>
                            <input type="checkbox" name="care_week" value="수">수</input>
                            <input type="checkbox" name="care_week" value="목">목</input>
                            <input type="checkbox" name="care_week" value="금">금</input>
                            <input type="checkbox" name="care_week" value="토">토</input>
                        </div>
                        <div id="care_time_div">
                            <select name="care_start_time" id="care_start_time">
                                <option selected value="">시작시간</option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                            </select>
                            ~
                            <select name="care_end_time" id="care_end_time">
                                <option selected value="">종료시간</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                                <option value="18:30">18:30</option>
                            </select>
                        </div>
                        <div class="care_receive_reg_right_div"><textarea id="receiver_textarea" name="text_area" ></textarea></div>
                    </div>
                </div>
                <div class="care_receive_reg_div3">
                    <!-- <div class="care_receive_reg_left_div">
                        
                    </div> -->
                    <div id="care_receive_confrm_btn_div"><button type="submit" id="care_receive_confrm_btn" >등록</button></div>
                    <div id="care_receive_cencell_btn_div"><button type="button" onclick="location.href='/'" id="care_receive_cencell_btn">취소</button></div>
                    
                </div>
            <!-- <div class="care_receive_textarea-btn_blankspace">

            </div>
            <div class="care_receive_reg_div4">
            </div> -->
            <!-- <div class="care_receive_reg_div"></div> -->
            </form>
        </div>
    </div>
    <script src="/js/careRecvReg.js"></script>
{% endblock %}