{% extends 'index.html' %}
{% block content %}
    <div id="detail_container_wrap">
        <div id="detail_div">
            <div class="detail_title">
            <h2>요양대상자 상세정보</h2>
        </div>
            <div id="detail_content">
                <div class="detail_content_col detail_content_img">
                    <div class="detail_content_blankspace">

                    </div>
                    <img src="../images/3.png">
                </div>
                <div class="detail_content_col detail_content_text">
                    <div class="detail_content_blankspace">

                    </div>
                
                    <p>이름:</p>
                    <p>성별:</p>
                    <p>생년월일:</p>
                    <p>전화번호:</p>
                    <p>주소:</p>
                    
                </div>
                <div></div>
                <p>요양등급:</p>
                    <p>지불시급:</p>
                    <p>이용요일:</p>
                    <p>치매여부:</p>
                    <p>식사여부:</p>
                    <p>거동여부:</p>
                    <p>투석여부:</p>
                    <p>비고:</p>
            </div>
        </div>
    </div>


{% endblock %}