{% extends 'index.html' %}
{% block content %}
<div id="wrap">
    <div id="container_wrap">
        <div id="chatting_form_title">
            <h1>AI 챗봇</h1>
        </div>

        
        <div class="div1_chatting_space">


            <!--챗봇 프로필-->
            <div class="img_profile_chatbot">
                <div class="img_profile_chatbot_bg"></div>
                <div class="div_img_profile_chatbot_icon">
                    <img src="/images/profile_chatbot_icon.png" class="img_profile_chatbot_icon">

                </div>
            </div>
            
            <!-- 말풍선 -->
            <div class="chat_bubble_group_all"> 
                <div class="chat_bubble_group">
                    <div class="chat_bubble_big"></div>
                    <div class="chat_bubble_small"></div>

                    <span class="chatbot_text">안녕하세요. 따숨 챗봇입니다. 무엇을 도와드릴까요?</span>
                </div>
            </div> <!-- 말풍선 끝-->

                   

                <!-- </div> -->
           

        </div>

        
        <!-- <div class="care_receive_reg_div"></div> -->
        <div class="div2_sending_space">
            <form action="/chatting/send">
                <label for="input_chat"></label>
                <input class="input_chat" type="text" id="input_chat" name="message">
                <!--메시지 전송 버튼-->
                <button class="btn_chat" type="submit">
                    <div class="btn_chat_bg"></div>
                    <div class="btn_chat_airplane"></div>
                </button>
            </form>


        </div>


    </div>
</div>

{% endblock %}