{% extends 'index.html' %}
{% block content %}
<link rel="stylesheet" href="/css/matching.css">
<div id="matchinglist">
    <div id="title">
        <p>고객센터</p>
    </div>
    <div id="">
        {% for i in arr %}
        <div class="" data-id="{{}}">
            <div class="">
                <p>{{i.csType}}</p>
                <p>결제일자 : {{i.csTitle}}</p>
                <p>상태 :
                    {% set status=i.matchStatus %}
                    {% if status == 1 %}
                    기관연계중
                    {% elif status == 0 %}
                    연계x
                    {% endif %}
                </p>
            </div>

            <a class="user_det" href="/matching/detail?careReceiverId={{i.careReceiverId}}">
                <div class="inner_button_div4">상세보기</div>
            </a>
            <br>

            <a href="/matching/update-status?careReceiverId={{i.careReceiverId}}&newStatus={{i.matchStatus}}">
                <div class="inner_button_div4">
                    {% if status == 1 %}
                    연계종료
                    {% elif status == 0 %}
                    연계시작
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}