<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>따숨</title>
    <link rel="stylesheet" href="/css/careRecvList.css">
    <link rel="stylesheet" href="/css/careRecvReg.css">
    <link rel="stylesheet" href="/css/mainStyle.css">
    <link rel="stylesheet" href="/css/careRecvDetail.css">
</head>
<header>
    <div id="header_div_wrap">
        <div id="header_menu_div1"><a href="">요양시설찾기</a></div>
        <div id="header_menu_div2"><a href="/careRecvReg/careRecvList">요양대상자찾기</a></div>
        <div id="header_menu_div2"><a href="/careRecvReg/careRecvRegconfrm">요양대상자등록</a></div>
        <div id="header_menu_div3"><a href="">고객문의</a></div>
        <div id="header_menu_div4"><a href="">정책정보</a></div>
        <div id="header_menu_div5"><a href="">로그인</a></div>
        <div id="header_menu_div6"><a href="">회원가입</a></div>
        <div id="header_menu_div7"><a href="">기관서비스</a></div>
    </div>
</header>
<body>
    <div id="index_container_wrap">
    {% block content %}
    {% endblock %}
    </div>
        
    
</body>
</html>