<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>따숨</title>
    <link rel="stylesheet" href="/css/careRecvList.css">
    <link rel="stylesheet" href="/css/careRecvReg.css">
    <link rel="stylesheet" href="/css/mainStyle.css">
    <link rel="stylesheet" href="/css/careRecvDetail.css">
</head>
<body>
    <header>
        <div id="header_outer_wrap">
            <div id="header_inner_wrap">
                <div id="header_div_wrap">
                    <div id="header_menu_div1"><a href="/careRecvReg/careRecvList">요양대상자찾기</a></div>
                    <div id="header_menu_div2"><a href="">AI챗봇</a></div>
                    <div id="header_menu_div4"><a href="">시설찾기</a></div>
                    <div class="header_menu_div"><a href="">고객문의</a></div>
                    <div class="header_menu_div"><a href="">요양대상자관리</a></div>
                    <div class="header_menu_div"><a href="">로그인</a></div>
                </div>
            </div>
        </div>
    </header>
    
    <div id="outer_wrap">
        <div id="centered_content_wrap">
            <div id="index_container_wrap">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    
</body>

<!-- 자영: 푸터 추가 -->
<footer>
    <!-- 하단 푸터 -->
    <div class="div_wrap">
        <div class="footer_all"></div>
            <div class="footer_home_group">
                <div class="footer_home_img"></div>
                <span class="footer_home_text">홈</span>
            </div>
            
            <div class="footer_finding_center_group">
                <span class="footer_finding_center_text">시설 찾기</span>
                <div class="footer_finding_center_img"></div>
            </div>

            <div class="footer_finding_calculation_group">
                <span class="footer_finding_calculation_text">지원금계산기</span>
                <div class="footer_finding_calculation_img"></div>
            </div>

            <div class="footer_finding_receiver_group">
                <span class="footer_finding_receiver_text">요양대상자 찾기</span>
                <div class="footer_finding_receiver_img"></div>
            </div>

            <div class="footer_finding_ai_chatbot_group">
                <span class="footer_finding_ai_chatbot_text">AI 챗봇</span>
                <div class="footer_finding_ai_chatbot_img"></div>
            </div>
    </div>
    <!-- 하단 푸터 종료-->
</footer>
</html>
