<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>따숨</title>
    <link rel="stylesheet" href="/css/careRecvList.css">
    <link rel="stylesheet" href="/css/careRecvReg.css">
    <link rel="stylesheet" href="/css/mainStyle.css">
    <link rel="stylesheet" href="/css/careRecvDetail.css">
    <link rel="stylesheet" href="/css/chatting.css">
    <link rel="stylesheet" href="/css/matching.css">
</head>

<body>
    <header>
        <div id="header_outer_wrap">
            <div id="header_inner_wrap">
                <div id="header_div_wrap">
                    <a href="/"><img src="/images/logo.png" id="logo"></img></a>
                    <div class="header_menu_div"><a href="/matching">요양대상자관리</a></div>
                    <div class="header_menu_div"><a href="/cs">고객문의</a></div>
                    {% if userId %}
                        <div class="header_menu_div"><a href="/user/logout">로그아웃</a></div>
                    {% else %}
                        <div class="header_menu_div"><a href="/user/login">로그인</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div id="outer_wrap">
        <div id="centered_content_wrap">
            <div id="index_container_wrap">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <footer>
        <div class="footer_all">
            <div class="footer_group">
                <a href="/careRecvReg/careRecvList">
                    <div class="footer_div_img">
                        <img class="footer_img" src="/images/finding_receiver_img.png">
                    </div>
                    <span class="footer_text">요양대상자 찾기</span>
                </a>
            </div>

            <div class="footer_group">
                <a href="/chatting">
                    <div class="footer_div_img">
                        <img class="footer_img" src="/images/chatbot_img.png">
                    </div>
                    <span class="footer_text">AI 챗봇</span>
                </a>
            </div>

            <div class="footer_group">
                <a href="/">
                    <div class="footer_div_img">
                        <img class="footer_img" src="/images/home_img.png">
                    </div>
                    <span class="footer_text">홈</span>
                </a>
            </div>

            <div class="footer_group">
                <a href="">
                    <div class="footer_div_img">
                        <img class="footer_img" src="/images/finding_center_img.png">
                    </div>
                    <span class="footer_text">시설 찾기</span>
                </a>
            </div>

            <div class="footer_group">
                <a href="">
                    <div class="footer_div_img">
                        <img class="footer_img" src="/images/finding_calculation_img.png">
                    </div>
                    <span class="footer_text">지원금계산기</span>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>
