{% extends 'index.html' %}

{% block content %}
<link rel="stylesheet" href="/css/user.css">

<div id="join">
    <div id="title">
        <p>회원가입</p>
    </div>
    <div id="join-form">

        <form action="/user/join" method="post">
            <p>
                <label for="member_select">일반 회원/기관회원 선택</label>
            </p>
            <div id="join_radio_div">
                    <input type="radio" name="user_type" value="user" checked>일반회원</input>
                    <input type="radio" name="user_type" value="center">기관회원</input>
            </div>
            <P class="center_info">
                <label for="userId" class="user_join_info">기관코드/기관명</label>
            </P>
            <div class="form-group center_info">
                <!-- <label for="userCenterCode">기관코드:</label> -->
                <input type="text" id="userCenterCode" name="userCenterCode" placeholder="  기관코드"  onfocus="this.placeholder = ''" onblur="this.placeholder = '  기관코드'">
            </div>
            <div class="form-group center_info" >
                <!-- <label for="userCenterName">기관명:</label> -->
                <input type="text" id="userCenterName" name="userCenterName" placeholder="  기관명" onfocus="this.placeholder = ''" onblur="this.placeholder = '  기관명'">
            </div>
            <div class="form-group center_info">
                <!-- <label for="userCenterCate">기관분류</label> -->
                <select id="userCenterCate" name="userCenterCate">
                    <option selected value="">기관분류</option>
                    <option value="암">암전문</option>
                    <option value="치매">치매전문</option>
                    <option value="재활">재활전문</option>
                    <option value="투석">투석전문</option>
                </select>
            </div>
            <P>
                <label for="userId" class="user_join_info">아이디/비밀번호</label>
            </P>
            <div class="form-group">
                <input type="text" id="userId" name="userId" required placeholder="  아이디" autofocus onfocus="this.placeholder = ''" onblur="this.placeholder = '  아이디'">
            </div>
            <div class="form-group">
                <!-- <label for="password">비밀번호:</label> -->
                <input type="password" id="password" name="password" required placeholder="  비밀번호" onfocus="this.placeholder = ''" onblur="this.placeholder = '  비밀번호'">
            </div>
            <P>
                <label for="userId" class="user_join_info">개인정보</label>
            </P>
            <div class="form-group">
                <!-- <label for="userName">이름:</label> -->
                <input type="text" id="userName" name="userName" value="{{ kakaoUser.userName }}" {% if kakaoUser.userName %}readonly{% endif %} required placeholder="  이름" onfocus="this.placeholder = ''" onblur="this.placeholder = '  이름'">
            </div>
            <div class="form-group">
                <!-- <label for="userEmail">이메일:</label> -->
                <input type="email" id="userEmail" name="userEmail" required placeholder="  이메일" onfocus="this.placeholder = ''" onblur="this.placeholder = '  이메일'">
            </div>
            <div class="form-group">
                <!-- <label for="userPhone">전화번호:</label> -->
                <input type="text" id="userPhone" name="userPhone" required placeholder="  전화번호" onfocus="this.placeholder = ''" onblur="this.placeholder = '  전화번호'">
            </div>
            <div class="form-group">
                <!-- <label for="userBirthdate">생년월일:</label> -->
                <input type="date" id="userBirthdate" name="userBirthdate" required>
                </input>
            </div>
            <P class="join_user_info">
                <label for="userId" class="user_join_info">일반 사용자만 건강상태 입력 (예: 건강, 보통, 취약)</label>
            </P>
            <div class="form-group join_user_info">
                <!-- <label for="userCondition">건강상태:</label> -->
                <input type="text" id="userCondition" name="userCondition" placeholder="일반 사용자만 입력해주세요"  onfocus="this.placeholder = ''" onblur="this.placeholder = '  일반 사용자만 입력해주세요'">
            </div>
            <div class="cs-actions">
                <button type="submit" class="joinbutton">회원가입</button>
                <a class="loginbutton" href="/user/login">로그인</a>
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const dateInput = document.getElementById('userBirthdate');

    // 초기 값을 '생년월일'로 설정
    dateInput.type = 'text';
    dateInput.value = '  생년월일';
    dateInput.classList.add('placeholder');

    dateInput.addEventListener('focus', function() {
        if (this.value === '  생년월일') {
            this.type = 'date';
            this.value = '';
            this.classList.remove('placeholder');
        }
    });

    dateInput.addEventListener('blur', function() {
        if (this.value === '') {
            this.type = 'text';
            this.value = '  생년월일';
            this.classList.add('placeholder');
        }
    });

    dateInput.addEventListener('change', function() {
        this.classList.remove('placeholder');
    });
});
</script>
<script src="/js/user.js"></script>
{% endblock %}
