{% extends 'index.html' %}
{% block content %}
<link rel="stylesheet" href="/css/mainPage.css">
<div id="whitebackground">
    <img id="banner" src="/images/grandparents.png" alt="">
    <div>
        <p>우리 플랫폼은 이렇다</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <img id="banner" src="/images/grandparents.png" alt="">
    <div>
        <p>멋있지?</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <img id="banner" src="/images/grandparents.png" alt="">
    <div>
        <p>나도알아</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <img id="banner" src="/images/grandparents.png" alt="">
    <div>
        <p>뭘봐</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
 

</div>
{% endblock %}