{% extends 'index.html' %}
{% block content %}
<link rel="stylesheet" href="/css/mainPage.css">
<div id="whitebackground">
    <img id="banner" src="/images/grandparents.png" alt="">
    <div>
        <p>요양대상자와 요양기관을 손쉽게 연결해주는 니어케어, </p>
        <p>당신의 편안한 삶을 위한 최고의 선택입니다.
        </p>
        <div class="button-container">
            <a href="/service1" class="btn">서비스 1</a>
            <a href="/service2" class="btn">서비스 2</a>
            <a href="/service3" class="btn">서비스 3</a>
            <a href="/service4" class="btn">서비스 4</a>
        </div>
        <p>니어케어는 이런 서비스를 제공해요</p>
        <p>챗봇</p>
        <p>근처 요양기관 검색</p>
        <p>요양지원금 계산기</p>
        <p>재활, 치매, 암 등 전문적인 요양기관 매칭</p>
    </div>
</div>
{% endblock %}