
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0 auto;
            width: 100%;
            height: 100%;
            background-color: #fbc2c2;
            /* display: flex; */
        };
        #container_map{
            display: flex;
            border: 2px solid #000000;
            width: 80%;
            height: 90%;
            background-color: #c2effb;
            
        }
        #map_zone{
            width: 80%;
            height: 70%;
            object-fit: contain;
        }
    </style>
</head>
<body>
    <div id="container_map">
        <img src="../images/dog.jpg" id="map_zone" alt="">
    </div>
</body>
</html>