
span{
    margin-top: 5%;
}
#care_receive_reg_wrap{
    margin-top: -20px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    /* padding: 20px; */
    /* height: max-content; */
    /* min-height: 700px; */
    flex-direction: column;
    margin-top: 1%;
}
#care_recv_regi_form{
    width: 100%;
}
#care_receive_reg_title{
    background-color: #F47176;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 67%;
}
#reg_container_wrap{
    display: flex;
    flex-direction: column;
    /* margin: 5%; */
    margin-top: 0%;
    /* border-radius: 20px; */
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.care_receive_reg_div1{
    display: flex;
    width: 100%;
    height: 50.5%;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
    
    /* margin-left: -10%;
}


.care_receive_border1{
    width: 100%;
    height: 20px;
    border-top: 0.5px solid rgb(235, 234, 234);
    margin: 0 auto; /* 가운데 정렬 */
}


.care_receive_reg_div2{
    display: flex;
    width: 100%;
    height: 37%;
    flex-direction: row;
    align-items: baseline;
    margin-top: 20px;
    /* margin-left: -10%;
    /* display: flex;
    width: 100%;
    height: 30%;
    flex-direction: row;
    align-items: baseline;
    margin-left: -10%; */
}
.care_receive_reg_left_div{
    width: 27%;
    text-align: right;
    padding-right: 10px;
    padding-left: 5%;
    margin-left: -5%;
    font-size: 96%;
    font-weight: 1000;

}
.care_receive_reg_right_div{
    width: 77%;
    text-align: left;
    padding-left: 10px;
    font-size: 91%;

}
.care_receive_reg_left_div, .care_receive_reg_right_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.care_receive_reg_div3{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 1.3%;
}
textarea:focus {
    outline: none;
}
.care_receive_reg_div4{
    display: flex;
    width: 100%;
    height: 20%;
    margin-left: -10%;
    margin-top: 15px;
}

#disease_type{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    line-height: 25px;
    align-items: flex-end;
    margin-top: 10px;
    
}
#disease_type > div{
    width: 17%;
    height: 25px;
    border-radius: 20px;
    /* border: 1px solid #f8a5c2; */
    border: 1px solid #e9e9e9;
    /* background-color: #ffdfea; */
    /* background-color: #ffdfea; */
    /* line-height: 44px; */
    margin-right: 3%;
    font-size: 80%;
}
.care_receive_reg_left_div > div 
, .care_receive_reg_right_div > div{
    height: 13%;
    line-height: 38px;
}
/* ---------------------- input 태그 기본값 준 태그들 스타일 ----------------------------- */
/* read-only input 아웃라인, 테두리 없애기 */
input[readonly] {
    border: none;
    outline: none;
}

/* read-only input field가 포커스되었을 때 아웃라인없애기 */
input[readonly]:focus {
    outline: none;
}

/* ---------------------- input 태그 주소태그 스타일 ----------------------------- */
input#care_receiver_user_add{
    border: 0;
    background-color: #fbebec; /* 배경색 */
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 28px;
    border-bottom: 1px solid #e9e9e9;
}

input#care_receiver_user_add:focus {
    outline: none;
    border-bottom: 1px solid #F47176;
    background-color: #fff7f8; /* 배경색 */
    border-radius: 6px 6px 0 0;
}

/* -------------------------- 체크박스 스타일 초기화 -------------------------*/
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border: 1.5px solid #F47176;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    outline: none;
}

/* 체크박스 체크될 때 색상 변경 */
input[type="checkbox"]:checked {
    background-color: #F47176;
}

/* 체크된 상태에서 체크 표시 스타일 */
input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 1.5px;
    left: 4px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
/* ---------------------- 라디오 버튼 스타일 초기화 --------------------------- */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border: 1.5px solid #F47176;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    outline: none;
}

/* ------------라디오 버튼 스타일-------------------------- */
input[type="radio"]:checked {
    background-color: #F47176;
}

input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background-color: white;
}

#care_week_div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 27px;
    width: 100%;
    margin-top: 15px;

}
#care_week_div > div{
    width: 23%;
    height: 61%;
    /* border: 1px solid #f8a5c2; */
    border: 1px solid #e9e9e9;
    /* background-color: #ffdfea; */
    border-radius: 20px;
    text-align: center;
    margin-right: 1%;

}

#care_time_div {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    align-items: center;
}

/* .week_btns:active{
    background-color: #F47176;
    color: #FFFFFF;
} */

/* .week_btns:visited{
    background-color: #F47176;
    color: #FFFFFF;
} */
.week_btns{
    color: black;
    border: 0px;
    background-color: #fff8f7;
    font-size: 80%;
    width: 42px;
    height: 20px;
    border-radius: 20px;
}
.week_btns.active{
    background-color: #F47176;
    color: #FFFFFF;
    
}
/* #care_time_div{

} */
#care_start_time,#care_end_time{
    width: 25%;
    height: 20px;
    text-align: center;
    border: 1px solid #fff8f7;
    /* border: 1px solid #e9e9e9; */
    background-color: #fbebec;
    font-size: 80%;

}
#care_start_time,#care_end_time:focus{
    outline: none;
    background-color: #fbebec;
    border-radius: 6px;
}

#receiver_textarea{
    border: 1px solid #e9e9e9;
    resize: none;
    width: 90%;
    height: 20%;
    border-radius: 6px;
    margin-left: -4%;
    background-color: #fbebec;
}
#receiver_textarea:focus{
    background-color: #fff7f8; /* 배경색 */
    border: 1px solid #F47176;
}


#care_receive_confrm_btn_div{
    display: flex;
    width: 15%;
    height: 72%;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    border: 1px solid #e9e9e9;
    margin-right: 1%;
    border-radius: 10px;
    
}

#care_receive_confrm_btn{
    border: 0px;
}
#care_receive_cencell_btn_div{
    display: flex;
    width: 15%;
    height: 72%;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    border: 1px solid #e9e9e9;
    margin-left: 1%;
    border-radius: 10px;
}
#care_receive_cencell_btn{
    border: 0px;
    
}
.care_receive_textarea-btn_blankspace{
    height: 20px;
}