#cslist {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    height: max-content;
    min-height: 700px;
}

#cs-list {
    width: 100%;
}

.cs-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 0.5px solid #F47176;
    transition: background-color 0.3s;
}

.cs-item-link {
    text-decoration: none;
    color: inherit;
}

.cs-item:hover {
    background-color: #f9f9f9;
}

.titletype {
    flex: 1;
    text-align: left;
    font-weight: 600;
}

.titlename {
    flex: 2;
    text-align: left;
    margin-left: 1px;
    font-weight: 600;
}

.titledate {
    flex: 1;
    text-align: right;
    font-weight: 600;
}

.answered {
    margin-left: 10px;
    padding: 2px 5px;
    background-color: #F47176;
    color: #FFFFFF;
    font-size: 0.8em;
    border-radius: 5px;
}

.cs-actions {
    text-align: right;
    margin-top: 20px;
}

#column-titles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    border-bottom: 2px solid #F47176;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s;
    box-sizing:border-box;
}

.columntype{
    margin-left: 20px;
}

.columntitle{
    margin-left: 120px;
}

.columndate{
    margin-right: 30px;
}

#cslist {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    height: max-content;
    min-height: 700px;
}

/* .writebutton, .deletebutton {
    width: 150px;
    height: 50px;
    border: 1px solid #F47176;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    text-decoration: none; 
    color: #F47176;
    font-size: 16px;
} */

.writebutton{
    color: #F47176;
}

.cs_write_button_space{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.writebutton:hover, .deletebutton:hover {
    background-color: #F47176;
    color: #FFFFFF;
}

#cs-detail {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cs-detail-item {
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
}

.cs-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.cs-title {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.cs-content {
    margin-bottom: 20px;
    padding-top: 10px;
    min-height: 200px;
}

.cs-answer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 10px;
}

.cs-answer {
    flex: 2;
    margin-top: -10px;
    margin-left: 20px;
}

.cs-answer h3 {
    margin-bottom: 10px;
}

#cs_manager_text{
    margin-bottom: -10px;
    font-weight: bold;
}

.cs-comment_date{
    margin-top: -10px;
    font-size: 14px;
    color: #4d4d4d;
}

.cs-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 75px;
    width: 100%;
    text-align: center; 
}

.answered {
    margin-left: 10px;
    padding: 2px 5px;
    background-color: #F47176;
    color: #FFFFFF;
    font-size: 0.8em;
    border-radius: 5px;
}

.user_det {
    width: 150px;
}





/* 고객문의 작성 페이지 CSS */
.create-cs-container {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    min-height: 700px;
}

.create-cs-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px; 
    font-weight: 600; 
}

.create-cs-form {
    margin-top: 40px;
    margin-left: 30px;
    width: 90%;
    max-width: 800px;
}

.form-section {
    margin-bottom: 20px;
}

.form-section label {
    display: block;
    margin-bottom: 15px;
    font-weight: 600; 
    font-size: 18px; 
}



.form-section input,
.form-section select,
.form-section textarea {
    width: calc(100% - 22px); 
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-section select{
    padding-top: 3px;
    padding-bottom: 3px;
}

.form-section select {
    height: 27px;
    width: 130px;
}

.form-section textarea {
    resize: vertical;
    font-size: 16px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-right: 25px;
}

/* .submit-btn,
.cancel-btn {
    width: 90px;
    height: 36px;
    border: 1px solid #f4717557;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    color: #F47176;
    font-size: 16px;
} */

.submit-btn {
    background-color: #ffffff;
    color: #F47176;
}

.submit-btn:hover {
    background-color: #F47176;
    color: #ffffff;
}

/* .cancel-btn {
    background-color: #ffffff;
    color: #F47176;
} */

/* .cancel-btn:hover {
    background-color: #F47176;
    color: #ffffff;
} */

/*글 상세 페이지*/
.csdetail_date{
    font-size: 14px;
    color: #4d4d4d;
    margin-top: 33px;
}




/* 모달 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #F47176;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
