#whitebackground {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    height: max-content;
}

#banner {
    max-width: 100%;
    height: auto;
}

.button-container {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #F47176;
    background-color: #ffffff;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border: 2px solid #F47176;
}

.btn:hover {
    background-color: #F47176;
    color: #ffffff;
}